article{
    background-color: grey;
    width:50%;
    padding:20px;
}
article h1{
    color: white;
    font-size:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:10px 0;
}
article span{
    color:red;
    font-family: 'Courier New', Courier, monospace;
    padding:10px 0;
}
article p{
    color:red;
    font-family: 'Courier New', Courier, monospace;
    padding:10px 0;
}



*{
    margin: 0 auto;
    padding: 0;

}